page-login {
    ion-content{
        text-align: center;
        background-color: rgb(235, 235, 235);
    }

    .logo{
        text-align: center;
        width: 30%;
        max-width: 250px;
        border-radius: 10px;
    }

    .title{
        color:color($colors,primary);
        font-size: 1.5em;
    }

    .btn-login{
        margin-top: 8px;
    }
}
